
/* #### Formatação Corpo do Projeto - Início #### */

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e6e6e6;
}

/* #### Formatação Corpo do Projeto - Fim #### */


/* #### Header - Início #### */

#header{
    background: #255ce9;
    padding: 0px;
    text-align: center;
    width: 100%;
}

#logo{
    padding: 10px;
    
}


.tamanho-logo{
    width: 400px;
    align-items: left;
}

/* #### Header - Fim #### */

/* #### Formatação Menu - Início #### */

#menu{
    padding: 15px;
    text-align: center;
    }

a {
    color: #3591f3;
    text-decoration: none;
    font-weight: bold;
    
   }

a:link{
    padding: 10px;
    
}

a:hover{
    color: rgb(0, 0, 0)
       
}

/* #### Formatação Menu - Fim #### */

/* #### Área Principal - Início  #### */

#principal{
    width: 920px;
    padding: 20px;
    margin: 0 auto ;
    
}

#conteudo{
    width: 660px;
    float: left;
}

#lateral{
    width: 240px;
    float: right;
}

.center{
    text-align: center;
}

.postagem{
    padding: 20px;
    margin-bottom: 20px;
}

.postagem-lateral{
    padding: 15px;
    margin: 5px;
}

.conteudo-lateral{
    padding: 10px;
    margin-bottom: 20px;
}

.img{
    border-radius: 15px;
    margin-top: 18px;
    margin-bottom: 18px;
}

h2{
    color: #3591f3;
}

h4{
    color: #3591f3;
}

.preto{
    color: black;
}

/* #### Área Principal - Fim #### */


/* #### Footer - Início #### */

#footer{
    clear: both;
    text-align: center;
    padding: 15px;
    background-color: #e6e6e6;
}

hr{
    margin-bottom: 25px;
}

/* #### Footer - Fim #### */


/* #### CARROSSEL - INICIO #### */
 
.slider{
    overflow: hidden;

}
.slider > .slider-content{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;

}

.slider > .slider-content > .slider-item {
    flex: 0 0 auto;
    width: 100%;
}

.slider > input:nth-child(1):checked ~ .slider-content{
    transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
    transform: translateX(-100%);
}

/* #### CARROSSEL - FIM #### */

/* #### RESPONSIVO - INICIO #### */

@media screen and (max-width: 1000px) {
    
}